@font-face {
  font-family: cocogoose;
  src: url(fonts/Cocogoose-font.otf);
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
}

p {
  line-height: 1.1rem;
}

.header {
  display: none;
}

.front-section {
  display: grid;
  background-image: url("https://c1.wallpaperflare.com/preview/675/259/577/office-desk-chair-white-thumbnail.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: brightness(100%) contrast(80%);
  height: 700px;
  width: 100%;
}

.dash {
  border: #e92a14 4px solid;
  padding: 3px 3px;
}

.med-heading {
  color: #ec5242;
  line-height: 2rem;
}

.main-heading {
  margin-top: 2px;
  font-weight: 900;
  font-size: 30px;
  line-height: 2.4rem;
  color: #ec5242;
}

.paragraph1 {
  width: 100%;
  font-size: 14px;
  margin-left: 5px;
}

.p-style {
  border: 2px solid white;
  margin-right: 15px;
  text-align: left;
  margin-top: -20px;
  background-color: #f2f5f5;
  border-radius: 10px;
  display: inline-block;
}

.date {
  font-weight: 700;
  color: #282828;
  font-size: 30px;
}

.venue {
  font-size: 1.2rem;
  color: #272a31;
}

.mobile-menu {
  display: block;
  padding-top: 20px;
  padding-left: 30px;
}

.openMenu {
  color: #3b4246;
  font-size: 2rem;
  font-weight: 900;
}

.first-section {
  padding-bottom: 5rem;
  padding-top: 4rem;
  padding-left: 2rem;
}

.nav-menu {
  display: block;
  background-color: #3c3a39;
  height: 800px;
  width: 100%;
  font-family: "Inter", sans-serif;
  position: fixed;
  margin: 0;
  padding: 0;
  left: -200%;
}

.hr-nav {
  width: 10rem;
}

.nav-menu.active {
  left: 0;
  transition: 0.5s ease-out;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 30%;
}

.nav-links,
ul li a {
  list-style: none;
  color: #f4f4f4;
  text-decoration: none;
  font-size: 27px;
}

.slide-in {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 50px;
  margin-right: 50px;
}

.section-two {
  background-image: url(images/repeat-bg.png);
  background-repeat: repeat;
  background-position: center;
}

.program {
  width: 95%;
  margin-inline: auto;
  margin-top: 10%;
}

.heading2 {
  color: #fff;
  text-align: center;
  padding-top: 8%;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0%;
}

hr {
  width: 10%;
  margin-inline: auto;
  border: none;
  height: 3px;
  background: #ec5242;
}

.buttons {
  width: 50%;
  margin-inline: auto;
  height: 70px;
  margin-block: 5%;
  padding-block: 7%;
}
.section-two {
  background-image: url("https://clauzzen.files.wordpress.com/2011/01/vintage-pattern_black.png");
  background-repeat: repeat;
  background-position: center;
}

.logo-bottom {
  color: #3b4246;
  font-size: 100;
  margin-top: -20px;
  padding-top: 20px;
}

.year1 {
  display: flex;
  justify-content: right;
  margin-right: 10px;
  margin-top: -20px;
}

.buttons {
  width: 50%;
  margin-inline: auto;
  height: 70px;
  margin-block: 5%;
  padding-block: 7%;
}

@media only screen and (min-width: 768px) {
  .nav-menu,
  .mobile-menu {
    display: none;
  }

  .header {
    display: block;
  }

  .top-nav {
    background-color: #343434;
    padding: 24px;
  }

  .navbar {
    background-color: #d8cdcb;
    height: 80px;
    display: flex;
  }

  .right-nav {
    float: right;
    margin-top: -10px;
    margin-right: 20px;
  }

  .right-nav a {
    padding-right: 10px;
    text-decoration: none;
    color: #f4f4f4;
  }

  .lists a {
    text-decoration: none;
    color: #282828;
    margin-right: 50px;
    font-size: 1rem;
  }

  .lists > li > a:hover {
    color: brown;
  }

  .lists {
    list-style: none;
    margin-top: 30px;
  }

  .partners-heading {
    padding-top: 3%;
    margin-bottom: 1%;
  }

  .partners-flex {
    margin-top: 4%;
    width: 75%;
  }

  .partners-list {
    margin-bottom: 3%;
  }

  .partners-image {
    mix-blend-mode: exclusion;
  }

  .f-styling {
    justify-content: space-evenly;
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
    background-color: #d8cdcb;
  }

  .logo-bottom {
    color: #3b4246;
    font-size: 100;
    margin-top: -20px;
    padding-top: 40px;
  }

  .year1 {
    display: flex;
    justify-content: right;
    margin-right: 350px;
    margin-top: -20px;
  }
}
